p {
  font-family: sans-serif;
  font-size: 12pt;
}

#menu ul {
  padding: 0px;
  margin: 0px;
  background-color: #EDEDED;
  list-style: none;
}

#menu ul li {
  display: block;
  padding: 2px 10px;
}

.serie {
  fill: none;
  stroke: #000000;
  stroke-width: 1px;
}